*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  padding-bottom: 60px;
  margin: 0;
  overflow: auto;
  color: #000;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
    max-width: 500px;
    margin: auto;
}

.container{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    display: flex;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
    margin-bottom: 22px;
  }

h1 {
    font-size: 128px;
    font-weight: 500;
    line-height: 0.9em;
}
p {
    font-size: 16px;
    align-items: start;
    justify-content: start;
    line-height: 1.5;
    font-weight: 400;

}

.hero {
    padding: 20px 80px 66px;
    
}


/*
  Buttons
*/

.btn {
    background-color: #F50;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    border-radius: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    padding: 10px 30px;
    color: #fff; 
  }

  .btn-login {
    background-color: #000;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    border-radius: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    padding: 10px 30px;
    color: #fff;
  }
  .btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    list-style: none;
  }

    .btn:hover {
        background-color: rgb(7, 7, 7);
        color: #fff;
        transition: 0.3s;
        transition-timing-function: ease-in-out;

    }
    .btn-login:hover {
        background-color: #F50;
        color: #fff;
        transition: 0.3s;
        transtion-timing-function: ease-in-out;

    }
    .btn-login, .btn:active {
        background-color: rgb(98, 33, 0);
        color: #fff;
    }


  .design-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;

  }
  
  .column {
    flex: 1;
    padding: 20px;
    width: 100%;
    height: auto;
  }
  
  .landing__page {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      max-width: 100%;
  }

  .image__size {
      display: flex;
      margin-bottom: 0;
      height: 760px;
      max-width: 50%;
  }

  .text__area {
      display: block;
      position: relative;
      margin-bottom: 0;
      height: 760px;
      max-width: 50%;
  }

  .text__area button {
      display: block;
      position: relative;
      float: left;
      margin-bottom: 0;
  }

  img {
      display: block;
      width: 100%;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
  }
  
  /* Optional: Add media query for smaller screens */
  @media screen and (max-width: 768px) {
    .design-section {
      flex-direction: column;
    }
  }