/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div {
    max-width: 500px;
    margin: auto;


}

.container{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    display: flex;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
    margin-bottom: 22px;
  }

h1 {
    font-size: 128px;
    font-weight: 500;
    line-height: 0.9em;
}

.hero {
    padding: 22px 80px 66px 80px;
  }


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    background-color: #F50;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    border-radius: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    padding: 10px 30px;
    color: #fff;

    float: right;

   
  }
  .btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    list-style: none;

  }

  .design-section {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the columns */
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    width: 100%;
    height: max-content;


  }
  .image__size {
    display: flex;
    float: right;
    margin-bottom: 0;
    height: fit-content;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text__area {
    display: block;
    float: left;
    margin-bottom: 0;
    height: 960px;
    width: 100%;
  }
  
  /* Optional: Add media query for smaller screens */
  @media screen and (max-width: 768px) {
    .design-section {
      flex-direction: column;
    }
  }