header{
  background-color: #FFFFFF;
  margin: 0 auto;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
  
}
header .logo{
  background-image: url("/assets/images/logo.png");
  display: flex;
  position: relative;
  margin-left: 10px;
  float: left;
  width: 100%;
  height: 70px;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style-type: none;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
  background-color: #FFFFFF;
  top: 0;
  width: 100%;
}

li {
  display: inline;
  float: left;
  padding: 5px;

}

a {
  display: flex;
  padding: 8px;
  background-color: #dddddd;
}

.nav {
  display: flex;
  justify-content: flex-end; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-right: 10px;
}
