header{
    background-color: #FFFFFF;
    margin: 0 auto;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    
  }
  header .logo{
    background-image: url("/assets/images/logo.png");
    display: flex;
    position: relative;
    margin-left: 100px;
    float: left;
    width: 100%;
    height: 70px;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  ul {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
    background-color: #FFFFFF;
    top: 0;
    width: 100%;
  }
  
  li {
    display: inline;
    float: left;
    padding: 5px;
  }
  
  a {
    display: flex;
    padding: 8px;
    background-color: #dddddd;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end; 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin-right: 10px;
  }
 
  
.btn {
    background-color: #F50;
    display: inline-block;
    margin: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    user-select: none;
    padding: 10px 30px;
    color: #fff; 
  }

  .btn-login {
    background-color: #000;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    border-radius: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    padding: 10px 30px;
    color: #fff;
  }
  .btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    list-style: none;
  }

    .btn:hover {
        background-color: rgb(7, 7, 7);
        color: #fff;
        transition: 0.3s;
        transition-timing-function: ease-in-out;

    }
    .btn-login:hover {
        background-color: #F50;
        color: #fff;
        transition: 0.3s;
        transtion-timing-function: ease-in-out;

    }
    .btn-login, .btn:active {
        background-color: rgb(98, 33, 0);
        color: #fff;
    }